[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
GitPython = ">=2.1.8"
colorama = ">=0.3.7"
termcolor = ">=1.1.0"
click = ">=6.0.0"
six = ">=1.10.0"

[dev-packages]
nose = "*"

[requires]
python_version = "3.6"
