name: Python CI

on:
  push:
    branches: [ master ]
  pull_request_target:
    branches: [ master ]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - name: Set up uv
      uses: astral-sh/setup-uv@v4
      with:
        enable-cache: true
    - name: Install dependencies
      run: |
        uv sync --locked --dev
    - name: Configure Git user/email
      run: |
        git config --global user.email user@example.com
        git config --global user.name "Example User"
    - name: Run test suite
      run: |
        uv run pip install .
        uv run pytest -v --cov=PyGitUp
      shell: bash
    - name: Verify dist package format
      run: |
        uv build
        uv tool run twine check dist/*
      if: matrix.os != 'windows-latest'
    - name: Upload coverage result
      if: github.repository_owner == 'msiemens'
      env:
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
      run: |
        uv run coveralls
