name: Upload Python Package

on:
  push:
    tags:
      - v*.*.*

jobs:
  publish:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Set up uv
      uses: astral-sh/setup-uv@v4
      with:
        enable-cache: true
    - name: Install dependencies
      run: |
        uv sync --locked
    - name: Publish package
      env:
        UV_PUBLISH_TOKEN: ${{ secrets.POETRY_PYPI_TOKEN_PYPI }}
      run: |
        uv build
        uv publish
    - name: Create Release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: ${{ github.ref }}
        draft: false
        prerelease: false
